/* Splash Screen Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #4CAF50; /* SDG 15 green color */
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-header {
    text-align: center;
    color: #F1F8E9;
    max-width: 600px;
}

.logo-image {
    width: 200px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.team-members {
    margin: 20px 0;
}

.team-members ul {
    list-style-type: none;
    padding: 0;
}

.team-members li {
    margin-bottom: 5px;
}

.mission {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.mission-text {
    margin: 0 auto;
}